{{> head}}
    {{> top}}
    <main class="main page page--search">
        <div class="page__header">
            <h1 class="page__title box__title">
                {{ translate 'search.title' }}
            </h1>            
        </div>
        {{{@customSearchContent}}}  
    </main>
    {{> sidebar}}
    {{> footer}}